body{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.707) , rgba(7, 102, 117, 0.647) ) ,url(stars1.png) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: sans-serif; 
}
ul{
    list-style-type: none;
}
ul:hover li a{
    opacity: 0;
}
li a{
  
    letter-spacing: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    width: 120px;
    margin: 8px;
    padding: 16px;
    background-color: wheat;
    transition: .5s;
    color: black;
    text-decoration: none;
      display: inline-block;
      position: relative;
      z-index: 10;
}
ul li a:hover {
    scale: 1.7;
    background-color: black;
    color: wheat;
    opacity: 1;
}
li::after{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    translate: -50% -50%;
    font-weight: 900;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 25px;
    transition: .5s;
    color: rgb(0, 0, 0);

}
ul li:hover:after{
    opacity: .6;


}
ul li::before{
    content: '';
    width: 180px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
   translate: -50% 70%;
   background-color: white;
   border-radius:50% ;
   box-shadow: 0 0 80px rgb(255, 166, 0);
   opacity: 0;
   transition: .5s;
}
ul li:hover::before{
    opacity: 1;
    width: 80px;

}












